/* Universal Variables */
:root {
    --main-color: #f1f1f1;
    --background-color: #000000;
    --medium-gray: #888888;
}

html {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--main-color);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.center-p {
    color: var(--medium-gray);
    text-align: center;
    padding: 1em;
    margin: auto;
    font-size: 18px;
    max-width: 80%;
}

h2 {
    background-color: var(--background-color);
    text-align: left;
    margin-top: -34px;
    margin-bottom: 10px;
    border: 2px solid var(--medium-gray);
    border-radius: 8px;
    padding-left: 10px;
}
/* Style for the cards */
main {
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 2em;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: small;
}

section {
    border: 3px dashed var(--medium-gray);
    border-radius: 4px;
    padding: 16px;
    margin: 2%;
    width: 20%;
}

pre {
    background: linear-gradient(#3b3b3b, #afaeaf);
    border-radius: 8px;
    color: black;
    padding: 16px 8px;
    user-select: all;
    white-space: pre-wrap;
}
/* Hover animation */
.column h2 {
    transition: all 0.5s ease-in-out;
}

.column:hover,
.column:hover h2 {
    box-shadow: inset 0px 0px 7px
    var(--background-color), 0 0 15px
    white;
}

/* Footer */
footer {
    text-align: center;
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
}
/* Media Queries */
@media (max-width: 992px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

@media (max-width: 768px) {
    .column {
      flex: 75%;
      max-width: 75%;
    }
}

@media (min-width: 768px) {
    .column {
      flex: 25%;
      max-width: 25%;
    }
}
